* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/Poppins/Poppins-Regular.ttf);
}

main {
  width: 100%;
  display: flex;
}

/* side-section */
.side-content {
  flex: 850px;
  background-color: rgba(51, 102, 255, 1);
  height: 1024px;
  justify-content: center;
}

.side-img {
  width: 50%;
  height: 50%px;
  margin-top: 25%;
  margin-left: 25%;
}

/* main-section */
.main-header {
  flex: 516px;
}

.header-logo {
  margin-left: 100px;
  margin-top: 207px;
}

.title-text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-left: 100px;
  margin-top: 57px;
}

.has-account {
  display: flex;
}

.has-account-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-left: 100px;
  flex-direction: row;
  margin-top: 15px;
}

.log-in {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: rgba(51, 102, 255, 1);
  margin-left: 10px;
  border: 0;
  background-color: white;
}

.log-in:hover {
  color: rgb(7, 65, 241);
}

.form {
  margin-top: 50px;
}

.form-container {
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-top: 25px  
}

input[type="text"],
input[type="password"] {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.7px;
  padding-left: 30px;
  font-family: Poppins;
}

.form-input {
  background: #ffffff;
  border: 1px solid rgba(193, 197, 208, 1);
  color: black;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.checkbox {
  border: 2px solid rgba(51, 102, 255, 1);
  height: 17px;
  width: 17px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-right: 20px;
}

.button-signup {
  height: 55px;
  width: 100%;
  border-radius: 20px;
  margin-top: 25px;
  background: rgba(51, 102, 255, 1);
  border: 0;
  box-shadow: 0px 8px 10px 0px rgba(35, 149, 255, 0.3);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.button-signup:hover {
  background: rgb(6, 66, 248);
}

.info {
  display: flex;
  height: 476px;
  margin-left: 218px;
  margin-top: 100px;
  font-family: Poppins;
}

.logo-img2 {
  margin-bottom: 37px;
}

.info-text p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: rgba(55, 58, 66, 1);
}

.sosmed {
  display: flex;
}

.sosmed-icon {
  margin-right: 21px;
  margin-bottom: 147px;
  height: 25px;
  width: 25px;
  margin-top: 18px;
}

.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(90, 113, 132, 1);
}

.right-text-head {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(55, 58, 66, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.right-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: rgba(193, 197, 208, 1);
  margin-bottom: 15px;
}

@media (max-width:1024px) {
  .side-content {
    height: 750px;
  }
  .side-img {
    margin-top: 45%;
  }
  .main-header {
    height: 750px;
  }
  .header-logo {
    margin-left: 50px;
    margin-top: 100px;
  }
  .title-text {
    margin-left: 50px;
    margin-top: 0;
  }
  .has-account-text {
    margin-left: 50px;
    margin-top: 15px;
  }
  .log-in {
    margin-left: 10px;
  }
  .form {
    margin-top: 0;
  }
  .form-container {
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .info {
    margin-left: 100px;
    height: fit-content;
    margin-bottom: 100px;
  }
  .logo-img2 {
    margin-bottom: 10px;
  }
  .sosmed-icon {
    margin-top: 10px;
    margin-bottom: 65px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .side-content {
    height:600px;
  }
  .main-header {
    height: 600px;
  }
  .header-logo {
    margin-left: 20px;
    margin-top: 50px;
  }
  .title-text {
    margin-left: 25px;
    margin-top: 20px;
  }
  .has-account-text {
    margin-left: 25Px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .log-in {
    margin-left: 5px;
  }
  .form-container {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .form-input {
    height: 45px;
    border-radius: 15px;
  }
  .button-signup {
    margin-top: 5px;
    height: 45px;
    border-radius: 15px;
  }
  .logo-img2 {
    height: 50px;
    margin-top: 15px;
  }
  .info {
    height: max-content;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 12px;
  }
  .sosmed-icon {
    height: 20px;
    width: 20px;
  }
  .footer-text {
    font-size: 12px;
  }
  .right-text-head {
    font-size: 12px;
    margin-top: 0;
  }
  .right-text {
    font-size: 11px;
  }
  .body {
    margin: 20px;
  }
}

@media (max-width:425px) {
  .side-content {
    display: none;
  }
  .info {
    display: none;
  }
  .form-container {
    margin-top: 30px;
  }
  .form-input {
    height: 50px;
  }
  .button-signup {
    height: 50px;
  }
  
}